<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
    <context:annotation-config />
    <context:component-scan base-package="com.epam"/>

    <util:map id="instructionsPriority" value-type="java.lang.Integer" key-type="java.lang.String">
        <entry key="A" value="10"/>
        <entry key="B" value="5"/>
        <entry key="C" value="0"/>
        <entry key="D" value="0"/>
    </util:map>

    <alias name="instructionValidator" alias="instructionMessageValidator"/>
    <bean id="instructionValidator" class="com.epam.validation.impl.InstructionMessageValidator">
        <property name="instructions" ref="instructionsPriority"/>
        <property name="productCodePattern" value="^[A-Z]{2}\d{2}$"/>
    </bean>

</beans>